$mainFontText: 'Titillium Web', sans-serif;
$logoFont: 'ZCOOL KuaiLe';

$mainFontColor: #565972;
$mainBackgroundColor: gradient(#D5D7DE, #6C6E8F);
$headerBackgroundColor: #565972;
$lightBlueFont: #D5D7DE;
$logoColor: #D5D7DE;
$searchColor: #8E8E92;
$inputColor: #8E8E92;
$footerTextColor: #44475B;